@font-face { font-family: Inter; src: url('./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf'); } 
@font-face { font-family: League Spartan; src: url('./fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf');}
@font-face { font-family: Poppins; src: url('./fonts/Poppins/Poppins-Regular.ttf');}
@font-face { font-family: Poppins-bold; src: url('./fonts/Poppins/Poppins-Bold.ttf');}
@font-face { font-family: Roboto; src: url('./fonts/Roboto/Roboto-Regular.ttf');}

.page {
    background-color: #FFF8F0;
    margin: 0px;
}
.main {
    min-width: 25rem;
}

.main .about-me {
    height: 37.5rem;
    width: 78.125rem;
    margin: 0rem 0rem 5rem 11.5rem
}

.main .about-me .about-me-text {
    float: left;
    padding: 1.5rem 0rem 3rem 0rem;
    width: 34rem;
    height: 100%
}

.main .about-me .about-me-text .contact {
    width: 100%;
    height: 1.5rem;
    margin: 0rem 0.25rem 2.5rem 0rem;
}

.main .about-me .about-me-text .contact .text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    padding-right: 1rem;
}

.main .about-me .about-me-text .contact .contact-number{
    display: inline;
    width: 50%;
    float: left;
    text-align: left;
}

.main .about-me .about-me-text .contact .contact-emailid{
    width: 50%;
    justify-content: right;
    display: inline;
    float: right;
    text-align: right;
}

.main .about-me .about-me-text .contact .icon{
    display: inline;
    padding: 0.125rem;
    vertical-align: middle;
}

.main .about-me .about-me-text .first-line {
    display: block;
    margin: 0rem 0.25rem 0.5rem 0rem;
    font-size: 1rem;
    color: #291854;
}

.main .about-me .about-me-text .heading {
    width: 32.5rem;
    margin: 0rem 0rem 1.5rem 0rem;
}

.main .about-me .about-me-text .description {
    height: 8rem;
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.125rem;
    width: 95%;
}

.main .about-me .about-me-text .contact-me-button {
    display: block;
    width: fit-content;
    margin: 1.5rem 0rem;
    font-size: 1rem;
    padding: 0.75rem 1.5rem 0.8rem 1.5rem;
    background-color: #2F2F2F;
    border-radius: 4px;
    color:#FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}

.main .about-me .about-me-photo {
    float: right;
    width: 44rem;
    height: 100%;
}

.main .about-me .about-me-photo #about-me-image{
    object-fit: cover;
    border-radius: 0px 0px 12.5rem 12.5rem;
}

.main .what-i-do {
    width: 67rem;
    margin: 2rem 11.5rem;
}

.main .summary{
    text-align: center;
    justify-content: center;
    margin: 1rem auto;
}

.main .summary .first-line{
    font-size: 0.75rem;
}

.main .summary .heading{
    margin: 0.125rem auto;
    width: 43.75rem;
    padding: 0.25rem 0rem 0.25rem 0rem;
}

.main .summary .description{
    margin: 0.125rem auto;
    padding: 0.8rem 0rem 0.8rem 0rem;
    font-size: 1.125rem;
    width: 42rem;
}

.main .detailed{
    margin: 0.25rem auto;
}

.main .what-i-do .detailed{
    height: 18.19rem;
    width: 78.125rem;
}

.main .what-i-do .detailed .col{
    margin: 0.75rem;
    padding: 1.25rem 1.25rem 0rem 1.25rem;
    width: 18.75em;
    height: 15.68;
    background: #FFFFFF;
    box-shadow: 6px 2px 25px -9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    float: left;
}

.main .what-i-do .detailed .col .title{
    font-size: 1.125rem;
}


.main .my-projects {
    width: 69rem;
    margin: 5rem 11.5rem;
    height: 100%;
}

.main .my-projects .detailed {
    height: 37.5rem;
    margin: 2rem 0;
}
.main .my-projects .detailed .row{
    height: 33.33%;
    margin: 1.25rem auto;
}

.main .my-projects .detailed .row .thumbnail{
    float: left;
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
    padding: 3rem;
    margin: 0 0.5rem auto 0;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
}

.main .my-projects .detailed .row .text  {
    float: left;
    margin: 0 1rem; 
    width: 55rem;
}

.main .my-projects .detailed .row .text .link a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    text-decoration: none;
    color: #6A87A3;
}

.main .my-projects .detailed .row .first{
    background: #19ACFF;
}

.main .my-projects .detailed .row .second{
    background: #FFE819;
}

.main .my-projects .detailed .row .third{
    background: #FF1919;
}

.footer {
    color: #FFFFFF;
    background-color: #000000;
    height: 3.5rem;
    text-align: center;
    vertical-align: super;
    line-height: 3.5rem;
    font-family: 'Poppins';
    font-style: normal;
    width: 90rem;
    margin-top: 7.5rem;
}

.main h1 {
    font-family: 'League Spartan';
    font-style: normal;
    font-size: 3rem;
    color: #190D37;
    margin-block-start: 0;
    margin-block-end: 0;
}

.main h2 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    color: #000000;
    padding: 0.25rem;
    margin: auto;
}

.main h3 {
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.125rem;
    text-align: center;
    padding: 0.25rem;
}

.main h4 {
    display: inline;
    font-family: 'Poppins-bold';
    font-size: 1.125rem;
    font-weight: 700;
    color: #291854;
}

.main .description h3 {
    margin: auto 0rem;
    font-weight: 400;
    color: #190D37;
}

.main .title h3 {
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}

.main h5 {
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 0.75rem;
    margin: 0 0 0.5rem 0;
}

.main .subheading h5 {
    color: #2858FF;
    font-weight: 600;
}

.main .title h5 {
    color: #291854;
    font-weight: 700;
}

.main .xsmall {
    display: inline;
    padding: 0.25rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    vertical-align: middle;
}

.main p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #55206D;
    line-height: 1.5rem;
}

.main .my-projects p {
    margin: 0.5rem 0rem
}

#thin-font {
    font-weight: 400;
}